<div class="row">
  <div class="col-lg-12 h-50">
    <div class="bs-component">
      <div class="jumbotron text-center" style="padding-bottom: 2%; padding-top: 2%">
        <h2 class="text-success">Welcome to Online FIR lodging System!</h2>
        <p class="lead">This system allows you to lodge and track your complaints and also provide you with information
          and announcements. This is a safe, secure and trustworthy portal.</p>
        <hr class="my-4">
        <p>Please login or register to continue.</p>
        <p class="lead">
          <a class="btn btn-primary" style='margin-right:10px; margin-bottom:10px; width:200px;'
            [routerLink]="['/login']" role="button">Login</a>
          <a class="btn btn-success" style='margin-right:10px; margin-bottom:10px; width:200px;'
            [routerLink]="['/register']" role="button">Register</a>
        </p>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-6">
    <div class="bs-component">
      <div class="jumbotron bg-primary" style="padding-bottom: 1%; padding-top: 1%">
        <div class="card-body text-white">
          <h4 class="card-title text-success">Announcements</h4>
          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">KLE Tech safety</h5>
                <small>2 days ago</small>
              </div>
              <p class="mb-1">The Vidyanagar Police Department is charged with the responsibility of helping to provide
                a safe and secure environment for students, faculty, staff and visitors. </p>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Police Recruitment 2019</h5>
                <small class="text-muted">3 days ago</small>
              </div>
              <p class="mb-1">Apply online to 4083 Latest Police Recruitment 2019 May Jobs Vacancy across India. Upload
                your resume and subscribe to Jobs Vacancy in Police 2019 to know immediately about the latest
                recruitment 2019 notification for both fresher's and experienced candidates.</p>
              <small class="text-muted">- Police IT cell</small>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="bs-component">
      <div class="jumbotron bg-primary" style="padding-bottom: 1%; padding-top: 1%">
        <div class="card-body text-white">
          <h4 class="card-title text-success">Useful Links</h4>
          <div class="list-group">
            <a href="https://ips.gov.in/" class="list-group-item list-group-item-action">IPS Cadre Management
            </a>
            <a href="https://www.prsindia.org/policy/discussion-papers/police-reforms-india"
              class="list-group-item list-group-item-action">Police Reforms in India
            </a>
            <a href="https://digitalpolice.gov.in/" class="list-group-item list-group-item-action">Digital Police:
              Ministry of Home Affairs
            </a>
            <a href="https://www.police.gov.in/" class="list-group-item list-group-item-action">Indian Police in Service
              of the Nation
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>