<div class="row">
  <div class="col-lg-12 h-50">
    <div class="bs-component">
      <div class="jumbotron text-center" style="padding-bottom: 2%; padding-top: 2%">
        <h2 class="text-success">Welcome to Online FIR lodging System!</h2>
        <p class="lead">This system allows you to lodge and track your complaints and also provide you with information
          and announcements. This is a safe, secure and trustworthy portal.</p>
        <hr class="my-4">
        <p>Please login or register to continue.</p>
        <p class="lead">
          <a class="btn btn-primary" style='margin-right:10px; margin-bottom:10px; width:200px;'
            [routerLink]="['/login']" role="button">Login</a>
          <a class="btn btn-success" style='margin-right:10px; margin-bottom:10px; width:200px;'
            [routerLink]="['/register']" role="button">Register</a>
        </p>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-6">
    <div class="bs-component">
      <div class="jumbotron bg-primary" style="padding-bottom: 1%; padding-top: 1%">
        <div class="card-body text-white">
          <h4 class="card-title text-success">Announcements</h4>
          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Announcements heading 1</h5>
                <small>2 days ago</small>
              </div>
              <p class="mb-1">This is the description of the announcement. This is a little bit longer than the heading.
                you can see now this paragraph has three lines.</p>
              <small>This is a note regarding the announcement</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Announcement heading 2</h5>
                <small class="text-muted">3 days ago</small>
              </div>
              <p class="mb-1">I don't have the patience to write long description. Remind me later.</p>
              <small class="text-muted">Author: Prajwal</small>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="bs-component">
      <div class="jumbotron bg-primary" style="padding-bottom: 1%; padding-top: 1%">
        <div class="card-body text-white">
          <h4 class="card-title text-success">Useful Links</h4>
          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action">Add a link here later
            </a>
            <a href="#" class="list-group-item list-group-item-action">Add a link here later
            </a>
            <a href="#" class="list-group-item list-group-item-action">Add a link here later
            </a>
            <a href="#" class="list-group-item list-group-item-action">Add a link here later
            </a>
            <a href="#" class="list-group-item list-group-item-action">Add a link here later
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

